/** @format */

@import './vars';
@import './colors';
@import './fonts';

.global-container {
	width: 100%;
	margin: auto;
	max-width: $max-content;
	padding: 10px;
}

.main-container {
	min-height: $min-height-app;
}

.global-spacer {
	flex-grow: 1 !important;
}

.main-title-2 {
	color: $color1;
	font-size: $font1;
	text-align: center;
	font-weight: 600;
}
