/** @format */

@import '../../assets/scss/components/colors';

.detail-main-image-container {
	padding: 10px;
	text-align: center;
}

.detail-main-image {
	width: 100%;
	max-width: 400px;
}

.detail-quantity-form-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.detail-quantity-form-input[disabled] {
	color: $color3;
	background-color: $color2;
	cursor: pointer;
}

.detail-promotion-title {
	color: $color1;
	font-style: italic;
}
