/** @format */

@import '../../../../assets/scss/components/colors';

.cart-payment-button,
.cart-payment-button:focus,
.cart-payment-button:active {
	border: 1px solid $color1;
	background-color: $color1;
	padding: 7px 15px !important;
	height: auto !important;
	color: $color2;
	font-size: 15px !important;
	font-weight: 500 !important;
	border-radius: 5px !important;
	align-items: center;
	display: flex !important;
	transition: 0.5s ease !important;
}

.cart-payment-button:hover {
	background-color: $color;
	color: $color1;
	transition: 0.5s ease !important;
}
